$font-stack: sans-serif , Helvetica;
$invalidValue: #00CCFF;
$columnSize : 30px;
$borderSize : 1px solid;
$borderColor: #1fbad6;
$gridBackgroundColor: #1a1a1a;
$appBackgroundColor : #070716;
$fontColor : #ffffff;
$nonEditableColor : black;
